<div class="footer-background pt-130 " *ngIf="currentRoute=='home'">
    <div class="row mt-25 center-xs">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-140 pr-140 nopadding">
            <mat-card>
                <p class="font-45 highlight-color  mt-30">Future of the <span class="red-text">Learning</span> is Amaze
                </p>
                <button mat-flat-button class="btn-join-now">Join Now</button>
            </mat-card>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-140 pr-140 pt-100 nopadding">
            <div class="row margin-mt">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 p-0">
                    <div class="row">
                        <div class="col-xs-4 p-0">
                            <div class="vertical-menu">
                                <a href="#" class="font-16 active">COMPANY</a>
                                <a href="#" class="font-16">About Us</a>
                                <a href="#" class="font-16">Team</a>
                                <a href="#" class="font-16">Courses</a>
                                <a href="#" class="font-16">QUATTRO</a>
                            </div>
                        </div>
                        <div class="col-xs-4 p-0">
                            <div class="vertical-menu">
                                <a href="#" class="font-16 active">INVEST</a>
                                <a href="#" class="font-16">Features</a>
                                <a href="#" class="font-16">How it works</a>
                                <a href="#" class="font-16">Pricing</a>
                                <a href="#" class="font-16">Login</a>
                            </div>
                        </div>
                        <div class="col-xs-4 p-0">
                            <div class="vertical-menu">
                                <a href="#" class="font-16 active">LEGAL</a>
                                <a href="#" class="font-16">Privacy</a>
                                <a href="#" class="font-16">Term</a>
                                <a href="#" class="font-16">Security</a>
                                <a href="#" class="font-16">Contact</a>
                            </div>
                        </div>
                    </div>
                    <div class="row start-xs pt-10 margin-mt pb-10">
                        <img class="social-icon" src="assets/Icons/facebook.png" alt="">
                        <img class="social-icon" src="assets/Icons/twitter.png" alt="">
                        <img class="social-icon" src="assets/Icons/linkedin.png" alt="">
                        <img class="social-icon" src="assets/Icons/instagram.png" alt="">
                        <img class="social-icon" src="assets/Icons/youtube.png" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footer-square-box radius-5">
                    <div class="row center-xs p-50">
                        <p class="white-text font-15 d-block full-width mt-0">Blog AMAZE</p>

                        <p class="white-text font-15 d-block full-width mt-0">Write email to us</p>

                        <p class="white-text font-15 d-block full-width mt-0">info@amaze.com</p>

                        <button mat-flat-button class="btn-sign">Sign in</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-140 pr-140 pt-50 nopadding">
            <div class="row">
                <div class="col-md-3 col-lg-3 hidden-xs hidden-sm"></div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 center-xs">
                    <img class="logo p-20" src="assets/Icons/Middle/logo.png">
                    <p class="font-14 copy-right">Copyright 2019. Amaze Learning Ltd (ABN 45 4545 87363)</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 end-xs symbolImg">
                    <img src="assets/Icons/Up Symbol.png">
                </div>
            </div>

            <div _ngcontent-efq-c9="" class="grey-divider mt-10 pl-140 pr-140"></div>
        </div>

       
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  mb-25 bg-color">
            <img src="assets/Icons/Footer People.png" class="footer-img" alt="">
        </div>

    </div>
</div>

<div class="row " *ngIf="currentRoute=='courses' || currentRoute=='question'">

<div _ngcontent-efq-c9="" class="grey-divider full-width mt-10 pl-140 pr-140 mb-30"></div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs">
        <img src="assets/Icons/facebook.png" class="p-20 social-img" alt="">
        <img src="assets/Icons/twitter.png" class="p-20 social-img" alt="">
        <img src="assets/Icons/linkedin.png" class="p-20 social-img" alt="">
        <img src="assets/Icons/instagram.png" class="p-20 social-img" alt="">
        <img src="assets/Icons/youtube.png" class="p-20 social-img" alt="">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs footer-menu">
        <ul>
            <li class="grey-text font-15"><a>About</a></li>
            <li class="grey-text font-15"><a>Team</a></li>
            <li class="grey-text font-15"><a>Courses</a></li>
            <li class="grey-text font-15"><a>Contact</a></li>
            <li class="grey-text font-15"><a>Privacy Policy</a></li>
            <li class="grey-text font-15"><a>Terms of Services</a></li>
            <li class="grey-text font-15 font-bold"><a>Become a Member</a></li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-xs">
        <p class="font-14 copy-right">Copyright 2019. Amaze Learning Ltd (ABN 45 4545 87363).</p>
    </div>

    <img src="../../assets/Icons/divider.png" class="full-width" alt="">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-25 mt-50 bg-color ">
        <img src="assets/Icons/Footer People.png" class="footer-img-course" alt="">
    </div>
</div>