<div class="row course-header pt-15 pb-15 pl-75 pr-75 mt-25">
    <div class="col-md-6 col-lg-6  vertical-align-middle">
        <ul class="pl-0">
            <li class="border-right-grey pr-15 ml-0"><a class="pointer highlight-color font-18 menu-item">Maths</a>
            </li>
            <li class="border-right-grey pr-15"><a class="pointer normal-color font-18 pl-10 pr-10">English</a></li>
            <li><a class="pointer normal-color font-18 pl-10 pr-10">National Curriculum</a></li>
        </ul>
    </div>

    <div class="col-md-6 col-lg-6 end-xs">
        <button mat-flat-button class="btn-join-now">Join Now</button>
    </div>
</div>


<div class="row dotted-border pl-75 pr-75 breadcrumb">
    <div class="col-md-6 col-lg-6  vertical-align-middle">
        <p class="highlight-color font-18 mt-0">
            Class 5<mat-icon class="red-text relative font-24 font-bold bread-icon">chevron_right</mat-icon>Maths
            <mat-icon class="red-text relative font-24 font-bold bread-icon">chevron_right</mat-icon>Question Title
        </p>
    </div>

    <div class="col-md-6 col-lg-6 end-xs">
        <p class="highlight-color mt-5 font-24 mt-0">Learn with an example<mat-icon
                class="red-text relative font-24 font-bold bread-icon pointer">expand_more</mat-icon>
        </p>
    </div>
</div>

<div class="p-100 row bottomSection">
    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12 leftPanel">
        <div class="iframe"></div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 righttPanel">
        <div class="row pl-50 pr-50 noPadding">
            <div class="col-md-12 col-lg-12 evaluation-box-border center-xs p-0">
                <p class="highlight-color font-20 p-10 light-box evaluation-bottom-border m-0">Question Answered</p>
                <p class="highlight-color p-15 font-40 dark-box evaluation-bottom-border m-0">12</p>
                <p class="highlight-color font-20 space light-box evaluation-bottom-border m-0">Time elapsed</p>
                <p class="highlight-color p-15 font-40  dark-box evaluation-bottom-border m-0">34s</p>
                <p class="highlight-color font-20 p-10 light-box evaluation-bottom-border m-0">Smartscore out of 100
                </p>
                <p class="highlight-color p-15 m-0 font-40 dark-box">90</p>
            </div>
        </div>
    </div>
</div>