<div class="row course-header p-15 mt-25">
    <div class="col-md-6 col-lg-6 center-xs vertical-align-middle">
        <ul>
            <li class="border-right-grey pr-15"><a class="pointer highlight-color font-24 menu-item">Maths</a>
            </li>
            <li class="border-right-grey pr-15"><a class="pointer normal-color font-24 pl-10 pr-10">English</a></li>
            <li><a class="pointer normal-color font-24 pl-10 pr-10">National Curriculum</a></li>
        </ul>
    </div>

    <div class="col-md-6 col-lg-6 center-xs">
        <button mat-flat-button class="btn-join-now">Join Now</button>
    </div>
</div>

<div class="row center-xs mt-30">
    <span class="font-36 highlight-color">Class Five</span>
</div>

<div class="row center-xs pl-140 pr-140 course-section">
    <p class="font-18 highlight-color line-height">Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem
        Ipsum has been the industry's standard
        dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem
        Ipsum has been the industry's standard
        dummy text ever since the 1500s,</p>
</div>


<div class="row center-xs pl-140 pr-140 mt-50 mb-50 expand-section">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 panel-expand">

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="highlight-color font-26 text-center pl-50">
                        1. Title of the chapter
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="vertical-menu mb-20">
                    <a routerLink="/question" class="highlight-color font-18 pointer">1.1 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">1.2 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">1.3 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">1.4 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">1.5 Title of the chapter</a>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="highlight-color font-26 text-center pl-50">
                        2. Title of the chapter
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="vertical-menu mb-20">
                    <a routerLink="/question" class="highlight-color font-18 pointer">2.1 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">2.2 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">2.3 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">2.4 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">2.5 Title of the chapter</a>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="highlight-color font-26 text-center pl-50">
                        3. Title of the chapter
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="vertical-menu mb-20">
                    <a routerLink="/question" class="highlight-color font-18 pointer">3.1 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">3.2 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">3.3 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">3.4 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">3.5 Title of the chapter</a>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="highlight-color font-26 text-center pl-50">
                        4. Title of the chapter
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="vertical-menu mb-20">
                    <a routerLink="/question" class="highlight-color font-18 pointer">4.1 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">4.2 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">4.3 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">4.4 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">4.5 Title of the chapter</a>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="highlight-color font-26 text-center pl-50">
                        5. Title of the chapter
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="vertical-menu mb-20">
                    <a routerLink="/question" class="highlight-color font-18 pointer">5.1 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">5.2 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">5.3 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">5.4 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">5.5 Title of the chapter</a>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 panel-expand">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="highlight-color font-26 text-center pl-50">
                        6. Title of the chapter
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="vertical-menu mb-20">
                    <a routerLink="/question" class="highlight-color font-18 pointer">6.1 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">6.2 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">6.3 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">6.4 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">6.5 Title of the chapter</a>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="highlight-color font-26 text-center pl-50">
                        7. Title of the chapter
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="vertical-menu mb-20">
                    <a routerLink="/question" class="highlight-color font-18 pointer">7.1 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">7.2 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">7.3 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">7.4 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">7.5 Title of the chapter</a>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="highlight-color font-26 text-center pl-50">
                        8. Title of the chapter
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="vertical-menu mb-20">
                    <a routerLink="/question" class="highlight-color font-18 pointer">8.1 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">8.2 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">8.3 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">8.4 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">8.5 Title of the chapter</a>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="highlight-color font-26 text-center pl-50">
                        9. Title of the chapter
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="vertical-menu mb-20">
                    <a routerLink="/question" class="highlight-color font-18 pointer">9.1 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">9.2 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">9.3 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">9.4 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">9.5 Title of the chapter</a>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="highlight-color font-26 text-center pl-50">
                        10. Title of the chapter
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="vertical-menu mb-20">
                    <a routerLink="/question" class="highlight-color font-18 pointer">10.1 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">10.2 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">10.3 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">10.4 Title of the chapter</a>
                    <a routerLink="/question" class="highlight-color font-18 pointer">10.5 Title of the chapter</a>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>