.vertical-menu {
  padding-left:75px;
}

.vertical-menu a {
  color: #465678;
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: justify;
}


.vertical-menu a.active {
  font-weight:bold;
  color: #000000;
}

:host ::ng-deep .mat-expansion-indicator{
    display:block !important
}

.course-header{
    background-color: #D8D8D8;
}

ul{
    list-style-type: none;
    margin: 0;
}

ul li{
    font-size: 14px;
    display: inline-block;
    margin: 0 10px;
}

